{{#extend "layout"}}
  {{#content "body"}}
    <div class="application">
      <form id="regexp-form">
        <textarea id="regexp-input" autofocus="autofocus" placeholder="Enter JavaScript-style regular expression to display"></textarea>
        <button type="submit">Display</button>
      </form>
    </div>

    <div class="results">
      <div id="error"></div>

      <ul id="warnings"></ul>

      <div id="regexp-render"></div>
    </div>

  {{/content}}

  {{#content "footer" mode="append"}}
    <script src="js/main.js" async defer></script>
  {{/content}}
{{/extend}}
